@charset "UTF-8";
/* mobile first */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Creeper';
    src: url(../fontes/Creepster-Regular.ttf) format('truetype');
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866; 
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-deep-web: 'Creeper', cursive; 
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
    position: relative;
}
a.externo::after{
    content: '\00A0\1F517';
}
header{
    background-color: var(--cor4);
    width: 100%;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header > div > span.fonte1{
    color: white;
    font-weight: normal;
    font-family: var(--fonte-deep-web);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
header > div > span.fonte2{
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 2.5em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
header > p{
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    margin: auto;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
span#burger{
    cursor: pointer;
    background-color: white;
    display: block;
    text-align: center;
    padding: 10px;
}
header > menu {
    display: none;
}
header > menu > ul > li{
    display: block;
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.2);
}
header > menu > ul > li > a{
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}
header > menu > ul > li > a:hover{
    color: var(--cor5);
}

main{
    background-color: white;
    width: 250px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-size: 1.5em;
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.2em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}
main img{
    width: 100%;
    margin: auto;
    display: block;
}
main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;
}


footer > div{
    background-color: var(--cor5);
    color: white; 
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    position: absolute;
}
footer a{
    color: white;
    font-weight: bolder;
}
footer a:hover{
    color: var(--cor1);
}