@charset "UTF-8";
/* mobile first */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

@font-face {
    font-family: 'Creeper';
    src: url(../fontes/Creepster-Regular.ttf) format('truetype');
}

:root{
    --cor0: #f2f2f2;
    --cor1: #595959;
    --cor1-1: #383838;
    --cor2: #d90404;
    --cor2-1: #ff1717;
    --cor3: #8c0303; 
    --cor4: #400101;
    --cor5: #0d0000;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-deep-web: 'Creeper', cursive; 
    --fonte-smile: 'Open Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(to top, #0f0000, black);
    font-family: var(--fonte-padrão);
    position: relative;
}
header{
    background-color: var(--cor1);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
}
header > div{
    background-image: url(../imagens/sangue1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
}
header > div > span.fonte1{
    color: var(--cor2-1);
    font-weight: normal;
    font-family: var(--fonte-deep-web);
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
}
header > div > span.fonte2{
    color: var(--cor2-1);
    font-family: var(--fonte-smile);
    font-weight: bold;
    font-size: 2.3em;
    margin-left: 10px;
}
header > audio{
    display: none;
}
span#burger{
    cursor: pointer;
    background-color: var(--cor1-1);
    color: var(--cor0);
    display: block;
    text-align: center;
    padding: 10px;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.5);
}
menu {
    display: none;
}
menu > ul {
    background-color: var(--cor1-1);
    padding: 10px;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;

}
menu > ul > li{
    display: block;
    
    background-color: transparent;
    padding: 10px;
}
menu > ul > li > a{
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
menu > ul > li > a:hover{
    text-decoration: underline;
}

main{
    background-color: black;
    width: 250px;
    margin: auto;
    padding: 20px;
}
main h1{
    color: var(--cor3);
    font-family: var(--fonte-padrão);
    font-size: 1.5em;
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 0px #f2f2f2;
    padding: 10px 0px;
    margin-bottom: 5px;
}
main h2{
    font-family: var(--fonte-padrão);
    color: var(--cor2);
    font-size: 1.2em;
}
main p{
    color: #f2f2f2;
    margin: 3px 0px;
    text-align: left;
    line-height: 1.5em;
    font-size: 1em;
}
main img{
    width: 100%;
    margin: auto;
    display: block;
}
main img.pequeno{
    max-width: 350px;
    display: block;
    margin: auto;
}


footer > div{
    background-color: var(--cor1);
    color: white; 
    text-align: center;
    font-size: 0.8em;
    padding: 5px 0px;
}
footer a{
    color: white;
    font-weight: bolder;
}
footer a:hover{
    color: var(--cor1);
}